
.wbdv-widget-component{
    margin:5px;
    border-style: solid;
    border-color: lightgrey;
    padding: 42px;
    border-radius: 5px;
}

.wdbv-list-preview{
    white-space: pre-line;
}

.wbdv-image-widget-preview{
    margin-top:10px;
    margin-bottom:10px;
}
