
/*          Apply to all        */

/*.active, .wbdv-editor-highlight:hover {*/
/*    background-color: orange;*/
/*    color: white;*/
/*    border-radius: 10px;*/
/*}*/

button {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}


body {
    background-color: aliceblue;
}

/*       Module             */

.width-module-navbar-width {
    width: 100%
}

.wbdv-module-container{
    background-color: aliceblue;
}

.wbdv-editor-component-header{
    color : white;
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
}

.wbdv-editor-header{
    background-color: cadetblue;
    color: white;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.wbdv-editor-plus-btn{
    width:100%;
}

